# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.dat

# Test binary, build output
*.test
*.out

# Output of the go coverage tool
*.coverprofile

# Dependency directories (if using vendoring)
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp
.DS_Store